@import './_variables.scss';

// reset.css
.search-form {
  z-index: 1;
}

.card-tabs {
  height: 60px;
  line-height: 60px;
  padding-right: 10px;
  > .search-bar-wrapper {
    line-height: 30px;
    margin-top: 15px;
  }
  > button {
    margin-top: 15px;
  }
}

.card-tabs {
  + section {
    margin-top: 0 !important;
  }
}

body {
  background-color: $body-bg;
  overflow-y: scroll;
  color: #666;
  font-size: 13px;
}

.text-left {
  text-align: left;
}
label {
    font-weight: normal;
}

//标题
.main-title {
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  // font-size: 16px;
}

.vice-title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  &.main-title {
    font-size: 16px;
    font-weight: normal;
  }
}

//业务列表
.com-list {
  margin: 17px auto 20px auto;
  > .list-group-item {
    .date {
      color: #969696;
    }
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 25px;
    border-left: 0;
    border-right: 0;
    > span.title {
      margin-left: 7px;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .list-head {
    background-color: #DBEAFE;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 62px;
    padding-right: 35px;
    border: 0;
  }
}

.list-adjust {
  .list-head {
    margin-left: 0;
    margin-right: 0;
  }
}

// table 
.table {
  margin-bottom: 0;
  td {
    border: 1px solid #f5f5f5;
  }
  thead {
    background-color: #DBEAFE;
    tr {
      td, th {
        border-bottom: 0;
        font-weight: normal;
      }
    }
  }

  &.table-list {
    border: none;
    td {
      border: none;
    }
    thead {
      tr {
        th, td {
          padding-top: 15px;
          padding-bottom: 15px;
          border: none;
        }
      }
    }
    tbody {
      tr {
        td {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    tr {
      td, th {
        &:first-child {
          padding-left: 62px;
        }
        &:last-child {
          padding-right: 62px;
        }
      }
      border-bottom: 1px solid #f5f5f5;
    }
  }
  
  .link-wrap {
    a:hover {
      cursor: pointer;
    }
  }
}

.table-hover {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.table-inner {
  margin-top: 30px;
  border: 1px solid #dedede;
  td {
    border: 1px solid #f5f5f5;
  }
  > thead {
    > tr {
      > td {
        background-color: #fff;
        border-bottom: 1px solid #f5f5f5;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  > tbody {
    > tr {
      &:last-child {
        > td {
          border-bottom: none;
        }
      }
      > td {
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

// table-input
.table-input {
  tbody {
    tr {
      td {
        padding: 0;
      }
    }
  }
}

// el-tree
.el-tree {
  background-color: #F9FBFE;
  border: none;
  .el-tree-node {
    &.is-current {
      > .el-tree-node__content {
        background-color: #DBEAFE;
        border: none;
      }
    }
    > .el-tree-node__content {
      > .el-tree-node__label {
        font-size: 13px;
      }
    }
  }
}

// el-form
.el-form {
  .el-form-item {
    margin-bottom: 13px;
    .el-form-item__label {
      font-size: 13px;
    }
  }
}

// 必填项
.required {
  .el-form-item__label {
    &:before {
      content: '*';
      color: #ff4949;
      margin-right: 4px;
    }
  }
}

//文件列表
.attachment-list {
  margin-top: 10px;
  > .list-group-item {
    > a.text-danger {
      cursor: pointer;
    }
  }
}

//进度条包裹
.progress-wrap {
  .progress {
    margin: 5px 0;
  }
}

//通用包裹
.normal-wrap {
  margin-top: 30px;
  margin-bottom: 20px;
}

//列表
.projectList {
  border: 1px solid #e8e8e8;
  margin-top: 30px;
  thead {
    background-color: #e6e6e6;
    .h-left {
      padding-left: 39px;
    }
    .h-right {
      float: right;
      padding-right: 40px;
    }
  }
  tbody {
    tr {
      td {
        .state-wrap {
          display: inline-block;
          background-color: #fff;
          border: 1px solid #000;
          border-radius: 2px;
          margin-right: 10px;
          font-size: 14px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 1px;
          padding-bottom: 1px;
        }
        &.time-wrap {
          text-align: right;
          vertical-align: middle;
        }
      }
    }
  }
}

//录入表单
.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
  font-weight: normal;
  text-align: left;
  width: 13%;
}
.form-horizontal {
  .half-width {
    width: 600px;
  }
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

//属性
.f-l {
  float: left;
}

.f-r {
  float: right;
}

.ta-c {
  text-align: center;
}

.p-a {
  position: absolute;
}

.p-r {
  position: relative;
}

.d-f {
  display: flex;
}

.btn-mr {
  margin-right: 20px;
  border: none;
}

.c-p {
  cursor: pointer;
}

.c-na {
  cursor: not-allowed;
}

.mr-10 {
  margin-right: 10px;
} 

.mt-10 {
  margin-top: 10px;
} 

.mt-15 {
  margin-top: 15px;
} 

.mr-20 {
  margin-right: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.pl-10 {
  padding-left: 10px;
}


.ml-40 {
  margin-left: 40px;
}

// btns
.btns {
  margin-right: 10px;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

//摘牌及审核情况

.table-handle {
  thead {
    background-color: #e6e6e6;
  }
  tbody {
    tr {
      td {
        padding: 15px;
      }
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}

//业务部状态label

.business-label {
  background-color: #969696;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

//职员的最大宽度
.staff-max {
  // text-align: left;
  // padding-left: 18px !important;
}

.label {
  font-weight: normal;
  background-color: #fff;
  color: #38a5fe;
  letter-spacing: -.32px;
  border: 1px solid #38a5fe;
  border-radius: 2px;
}

.label-danger {
  border: 1px solid #f06d58;
  color: #f06d58;
}

//列表项宽度
label.col-sm-2.control-label {
    width: 100px;
}

//业务报告按钮
.btn-report {
  padding: .2em 1em .3em;
}

//按钮
.my-btn {
  min-width: 100px;
  height: 30px;
  font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  border: none;
  &:focus {
      outline: none;
      color: #fff;
  }
}

// 失效状态
.btn[disabled] {
  background-color: #d7d7d7;
  opacity: 1;
  &:hover {
    background-color: #d7d7d7;
    color: #fff;
  }
}

//提交、保存、录入、搜索、编辑按钮
.submit-btn {
  background-color: #50bef7;
  border: none;
  &:hover {
    background-color: #168fcd;
    color: #fff;
  }
  &:active {
    background-color: #168fcd;
    color: #fff;
  }
  &:focus {
    background-color: #168fcd;
    color: #fff;
  }
}

//暂存、取消、重置按钮
.draft-btn {
  color: #fff;
  background-color: #8ad637;
  border: none;
  &:hover {
    background-color: #6eb620;
    color: #fff;
  }
  &:active {
    background-color: #6eb620;
    color: #fff;
    border: none;
  }
}

//撤销、删除按钮
.cancel-btn {
  background-color: #fc7d71;
  border: none;
  width: 60px;
  &:hover {
    background-color: #e05043;
    color: #fff;
  }
  &:active {
    background-color: #e05043;
    color: #fff;
  }
  &:focus {
    background-color: #e05043;
    color: #fff;
  }
}

// 小按钮
.small-btn {
  min-width: 50px;
  height: 23px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
}

// 更改复选框样式
.magic-radio + label, .magic-checkbox + label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-right: 12px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 13px;
    font-weight: normal;
}

.magic-radio + label:before, .magic-checkbox + label:before {
    position: absolute;
    top: 1px;
    left: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #c0c0c0;
}

.magic-radio + label:after {
    top: 14px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3e97eb;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
}

// 错误提示信息

.error {
  color: #f00;
  font-size: 12px;
}

.o-h {
  overflow: hidden;
}

// element style

.el-input.is-disabled .el-input__inner {
    background-color: #fafafa;
    border-color: #d1dbe5;
    color: #666;
    cursor: not-allowed;
}

.el-textarea.is-disabled .el-textarea__inner {
    background-color: #fafafa;
    border-color: #d1dbe5;
    color: #666;
    cursor: not-allowed;
}

.magic-radio[disabled] + label, .magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #666;
}

// 
.list-pagination {
  margin-top: 67px;
  margin-right: 48px;
  margin-bottom: 25px;
}

.el-tabs  {
  > .el-tabs__header {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: none;
    > .el-tabs__nav-wrap {
      > .el-tabs__nav-scroll {
        > .el-tabs__nav {
          > .el-tabs__active-bar {
            display: none;
          }
          > .el-tabs__item {
            position: relative;
            height: 60px;
            line-height: 60px;
            padding: 0 40px;
            font-size: 15px;
            border-right: 1px solid #f9f9f9;
            &.is-active {
              color: #50BAF0;
              &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 32px;
                width: 0;
                height: 0;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-bottom: 8px solid #DBEAFE;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }
  }
}

.el-tabs.tab-control  {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  > .el-tabs__header {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: none;
    > .el-tabs__nav-wrap {
      > .el-tabs__nav-scroll {
        > .el-tabs__nav {
          > .el-tabs__active-bar {
            display: none;
          }
          > .el-tabs__item {
            position: relative;
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

.nav-justified > li, .nav-tabs.nav-justified > li {
    display: inline-block;
    width: 140px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #fff;
  border: none;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover {
  border: none;
  background-color: #fff;
}

.nav > li > a:hover {
  background-color: #fff;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.el-select {
  width: 100%;
}

.el-input__inner {
  font-size: 13px;
}

.clear-padding-left {
  padding-left: 0;
}

.empty-list-p {
  text-align: center;
  margin-top: 10px;
}

.el-checkbox__input.is-disabled+.el-checkbox__label {
  color: #666;
}

.el-radio__input.is-disabled+.el-radio__label {
  color: #666;
}

.text-info {
  color: #9c9c9c;
  font-size: 13px;
}
