@import './_variables.scss';

body {
  background-color: $body-bg;
  overflow-y: scroll;
  color: #666666;
}

//标题
.main-title {
  padding-left: 15px;
  border-left: 3px solid $brand-primary;
}

//业务列表
.com-list {
  margin: 30px auto 20px auto;
  .list-head {
    background-color: #E6E6E6;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 27px;
    padding-right: 35px;
  }
  > .list-group-item {
    .date {
      color: #969696;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 0;
    border-right: 0;
    > span.title {
      margin-left: 7px;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

//文件列表
.attachment-list {
  margin-top: 10px;
  > .list-group-item {
    > a.text-danger {
      cursor: pointer;
    }
  }
}

//进度条包裹
.progress-wrap {
  .progress {
    margin: 5px 0;
  }
}

//通用包裹
.normal-wrap {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

//列表
.projectList {
  border: 1px solid #E8E8E8;
  margin-top: 30px;
  thead {
    background-color: #E6E6E6;
    .h-left {
      padding-left: 39px;
    }
    .h-right {
      float: right;
      padding-right: 40px;
    }
  }
  tbody {
    tr {
      td {
        .state-wrap {
          display: inline-block;
          background-color: #fff;
          border: 1px solid #000;
          border-radius: 2px;
          margin-right: 10px;
          font-size: 14px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 1px;
          padding-bottom: 1px;
        }
        &.time-wrap {
          text-align: right;
          vertical-align: middle;
        }
      }
    }
  }
}

//录入表单
.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
  font-weight: normal;
  text-align: left;
  width: 13%;
}
.form-horizontal {
  .half-width {
    width: 50%;
  }
}
.form-group {
    margin-bottom: 30px;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
form {
  padding-left: 50px;
  padding-right: 50px;
}

//属性
.f-l {
  float: left;
}

.f-r {
  float: right;
}

.ta-c {
  text-align: center;
}

.p-a {
  position: absolute;
}

.p-r {
  position: relative;
}

//按钮
.btn-primary {
  background-color: #0074D3;
  border: none;
  &:hover {
    background-color: #1276D0;
    color: #ffffff;
  }
  &:active {
    background-color: #1276D0;
    color: #ffffff;
  }
}

.btn-primary:active:focus {
  color: #fff;
  background-color: #1276D0;
  border-color: none;
}

.my-btn {
  width: 100px;
  height: 40px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  &:focus {
      outline: none;
      color: #ffffff;
  }
}

.btn-mb {
  margin-top: -5px;
}

//提交、保存、录入、搜索、编辑按钮
.submit-btn {
  background-color: #1F6BA9;
  border: none;
  &:hover {
    background-color: #2171B2;
    color: #ffffff;
  }
  &:active {
    background-color: #2171B2;
    color: #ffffff;
  }
  &:focus {
    background-color: #2171B2;
    color: #ffffff;
  }
}

//暂存、取消、高级搜索、重置按钮
.draft-btn {
  color: #ffffff;
  background-color: #FDAD03;
  border: none;
  &:hover {
    background-color: #D59203;
    color: #ffffff;
  }
  &:active {
    background-color: #D59203;
    color: #ffffff;
    border: none;
  }
  // &:focus {
  //   background-color: #D59203;
  //   color: #ffffff;
  //   border: none;
  // }
}

//撤销、删除按钮
.cancel-btn {
  background-color: #F86A50;
  border: none;
  width: 60px;
  &:hover {
    background-color: #C8503A;
    color: #ffffff;
  }
  &:active {
    background-color: #C8503A;
    color: #ffffff;
  }
  &:focus {
    background-color: #C8503A;
    color: #ffffff;
  }
}

.btn-mr {
  margin-right: 20px;
  border: none;
}

//摘牌及审核情况

.table-handle {
  thead {
    background-color: #E6E6E6;
  }
  tbody {
    tr {
      td {
        padding: 15px;
      }
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}

//业务部状态label

.business-label {
  background-color: #969696;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

//职员的最大宽度
.staff-max {
  text-align: left;
  padding-left: 50px !important;
}

.label {
  font-weight:normal;
  background-color: #fff;
  color: #51AAD6;
  letter-spacing: -0.32px;
  border: 1px solid #51AAD6;
  border-radius: 2px;
  padding: .1em .5em .1em;
}

.label-danger {
  border: 1px solid #E84C4C;
  color: #E84C4C;
}





